* {
  font-family: sans-serif;
}

.kenDesign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.5em;
  width: 90%;
}

body {
  margin: 0;
}

.navbar {
  background-color: #515151;
  overflow: auto;
}

ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  float: right;
  padding-right: 4em;
}

li {
  float: left;
  padding-left: 2em;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #F3F5F4;
}

a:hover {
  color: #b7b7b7;
}

.currentLink {
  color: #b7b7b7;
}

.rowContainer {
  clear: both;
  width: 100%;
}

.carMockUp {
  float: left;
  width: 35%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 10%;
}

.text {
  float: left;
  width: 30%;
  padding-top: 20%;
}

.text p {
  color: #868485;
  line-height: 1.5em;
}

.designs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10em;
  width: 80%;
}

#one {
  width:75%;
}

h1 {
  font-weight: lighter;
  padding-top: 3em;
  text-align: center;
}

.logInWireframes {
  float: left;
  padding-top: 5em;
  padding-bottom: 7em;
}

.logInWireframes img {
  width: 20%;
  padding-left: 4%;
}

.mapWireframes {
  float: left;
  padding-top: 5em;
  padding-bottom: 7em;
}

.mapWireframes img {
  width: 20%;
  padding-left: 10%;
}

.simulation {
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
}

.simulationLink {
  color: black;
  text-decoration: underline;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
}
